# C++ build files
*.o
*.out
*.exe
main

# Build folders
build/

# Data output (optional choice)
# If you DON'T want to track generated paths:
# path.txt

# OS files
.DS_Store

# Vim / Neovim
*.swp

# Python
__pycache__/
*.pyc
.venv/
